RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(index\.php)?$ - [R=404,L]
RewriteRule ^(config\.php) - [R=404,L]
RewriteRule ^(data|views)/ - [R=404,L]