RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(index\.php)?$ - [R=404,L]
RewriteRule ^(config\.php) - [R=404,L]
RewriteRule ^(data|layouts|views)/ - [R=404,L]